<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# Custom 404 Page
ErrorDocument 404 /404.php

# ============================
# PHP ERROR LOGGING ENABLED
# ============================
php_flag log_errors On
php_value error_reporting 32767
php_value error_log /home/198c3581ff3f80cd/public_html/error.log
